<p id="notice"><%= notice %></p>

<%= render 'form', entry: @entry %>

<table>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to "added " + time_ago_in_words(entry.created_at) +" ago", edit_entry_path(entry) %></td>
        <td><%= entry.thoughts %></td>
      </tr>
    <% end %>
  </tbody>
</table>
